* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ff6b00;
  --color-secondary: #ec5242;
  --color-tertiary: #d3d3d3;
  --color-white: #fff;
  --color-grey: #585858;
  --color-light-grey: #ebf0ee;
}

.container {
  display: block;
  margin: 0 auto;
  width: 412px;
  height: 915px;
  overflow-y: scroll;
}

.header-section {
  position: absolute;
  top: 0;
  width: 412px;
  height: 65px;
  background-color: #3c3a39;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar a {
  text-decoration: none;
}

.logo {
  font-family: "Roboto", sans-serif;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin: 15px;
}

.logo:hover {
  color: blueviolet;
}

.menu-bar {
  width: 24px;
  height: 24px;
  color: white;
  margin: 15px;
  cursor: pointer;
}

.menu-bar:hover {
  color: blueviolet;
}

.headline-section {
  display: flex;
  flex-direction: column;
  width: 412px;
  height: 850px;
  background: url(../images/backgroundimage.png);
}

.headline-container {
  margin: 124px 24px;
}

.heading-1 {
  width: 327px;
  height: 124px;
}

.heading-1 h1 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  color: var(--primary-color);
  line-height: 64px;
}

.heading-2 {
  width: 327px;
  height: 27px;
  margin-top: 19px;
  margin-bottom: 19px;
}

.heading-2 h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff5e1;
  line-height: 32px;
}

.paragraph {
  width: 327px;
  height: 123px;
}

.paragraph p {
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 24px;
  color: #e1c9c9;
}

.social-icons-container {
  width: 300px;
  height: 80px;
  margin-top: 19px;
  padding: 7px;
}

.social-icons-container ul {
  display: flex;
  list-style: none;
}

.vectorimg {
  width: 20px;
  height: 16px;
  cursor: pointer;
  font-size: 20px;
}

.vectorimg:hover {
  filter:
    invert(24%) sepia(88%) saturate(3738%) hue-rotate(263deg)
    brightness(88%) contrast(102%);
}

.social-icons {
  width: 34px;
  height: 16px;
  color: #dbd8d7;
  cursor: pointer;
  font-size: 20px;
}

.social-icons:hover {
  color: #8a2be2;
}

.work-section {
  width: 412px;
  height: 850px;
  display: grid;
  grid-template-rows: 1fr 2fr 3fr;
}

.box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 0;
  font-size: 20px;
  color: #1c1a19;
  border-bottom: 1px solid #212121;
  width: 327px;
  height: 107px;
  margin: 57px auto;
}

.box-2 {
  width: 327px;
  height: 237px;
  margin: auto auto;
}

.box-3 {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 337px;
  margin: 21px auto;
}

.multi-post-heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  display: flex;
  line-height: 44px;
  align-items: center;
  color: #091e42;
}

.multi-post-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin: 16px auto;
}

.multi-post-button-container {
  display: flex;
  flex-wrap: wrap;
}

.button-1 {
  padding: 10px 12px;
  border: 1px solid #8993a4;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  background: #fff;
  color: #091e42;
  margin-right: 12px;
}

.button-1:hover {
  background: #8993a4;
  color: whitesmoke;
}

.button-2 {
  padding: 12px;
  background: var(--primary-color);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-top: 11px;
  outline: none;
  border: 1px solid var(--primary-color);
}

.button-2:hover {
  background: #fcad75;
  color: #212121;
}

.cards-section {
  width: 412px;
  height: 2553px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 4px;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 386px;
  margin: 2px auto;
  background: url(../images/Card\ Works.png);
}

.text-box {
  margin-top: 90px;
  width: 100%;
  height: 248px;
}

.text-box-heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: auto 7px;
}

.text-box-paragraph {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 4px 7px;
}

.text-box-buttons {
  margin: auto 7px;
  width: 100%;
  margin-bottom: 4px;
}

.button-3 {
  padding: 10px 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  margin-right: 12px;
  background: rgba(255, 255, 255, 0.24);
  cursor: pointer;
}

.button-3:hover {
  background: #fff;
  color: #091e42;
}

.button-4 {
  position: relative;
  height: 48px;
  width: 100%;
  bottom: 0;
  background: var(--primary-color);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #fff;
  outline: none;
  border: 1px solid var(--primary-color);
}

.button-4:hover {
  background: #fcad75;
  color: #212121;
}

.about-me {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 130px;
  width: 412px;
  height: 1850px;
  background: url(../images/aboutme.png);
}

.about-me-container {
  display: flex;
  position: relative;
  top: 40px;
  flex-direction: column;
  width: 327px;
  height: 386px;
  margin: auto;
}

.about-me-heading h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: var(--primary-color);
}

.about-me-paragraph p {
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  margin: 9px auto;
  line-height: 24px;
  color: #e1c9c9;
}

.language-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-top: 1px solid #fff;
  width: 327px;
  height: 1186px;
  margin: auto;
}

.language-heading {
  display: flex;
  flex-direction: column;
  width: 225.46px;
  height: 281.46px;
  margin-top: 60px;
}

.language-heading ul {
  list-style: none;
  width: 100%;
}

.language-heading ul li {
  display: flex;
  align-items: center;
  font-family: "Meera Inimai", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}

.language-heading ul li a {
  color: #fff;
  text-decoration: none;
}

.language-heading ul li::before {
  content: "\25C6";
  font-size: 50px;
  margin-right: 17px;
  color: var(--primary-color);
}

.language-list-items {
  display: flex;
  flex-direction: column;
  width: 186px;
  height: 216px;
  margin: auto;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.language-list-items ul li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  width: max-content;
  margin: 9px auto;
  align-self: center;
  line-height: 43px;
  color: #fff;
}

.language-list-items ul li::before {
  content: "";
}

.framework-heading {
  display: flex;
  flex-direction: column;
  width: 281px;
  height: 336px;
}

.framework-heading ul {
  list-style: none;
  display: flex;
  width: max-content;
  flex-direction: column;
}

.framework-heading ul li {
  display: flex;
  align-items: center;
  font-family: "Meera Inimai", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}

.framework-heading ul li a {
  color: #fff;
  text-decoration: none;
}

.framework-heading ul li::before {
  content: "\25A0";
  font-size: 50px;
  position: relative;
  bottom: 6px;
  margin-right: 35px;
  color: var(--primary-color);
}

.framework-list-items {
  display: flex;
  flex-direction: column;
  width: 159px;
  height: 216px;
  margin: auto;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.framework-list-items ul li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  width: max-content;
  margin: 9px auto;
  align-self: center;
  line-height: 43px;
  color: #fff;
}

.framework-list-items ul li::before {
  content: "";
}

.skills-heading {
  display: flex;
  flex-direction: column;
  width: 169px;
  height: 336px;
}

.skills-heading ul {
  list-style: none;
  width: 140px;
  margin: auto;
}

.skills-heading ul li {
  display: flex;
  align-items: center;
  font-family: "Meera Inimai", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}

.skills-heading ul li a {
  color: #fff;
  text-decoration: none;
}

.skills-heading ul li::before {
  content: "\25CF";
  font-size: 50px;
  position: relative;
  bottom: 5px;
  margin-right: 17px;
  color: var(--primary-color);
}

.skill-list-items {
  display: flex;
  flex-direction: column;
  width: 186px;
  height: 216px;
  margin: auto;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.skill-list-items ul li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  width: max-content;
  margin: 9px auto;
  align-self: center;
  line-height: 43px;
  color: #fff;
}

.skill-list-items ul li::before {
  content: "";
}

.contact-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 412px;
  height: 844px;
}

.contact-heading {
  width: 327px;
  height: 216px;
  margin: auto;
}

.contact-heading h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 3px auto;
  text-align: center;
  color: #172b4d;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 330px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  width: 100%;
  height: 48px;
  padding: 3px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #979493;
  border: none;
  border-bottom: 1px solid #979493;
  padding-left: 8px;
  margin: 8px 0;
}

#textarea {
  width: 100%;
  height: 114px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  border: none;
  padding: 8px;
  background: #fbf8f7;
  margin: 8px 0;
}

.form-button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  padding: 12px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  width: 131px;
  height: 48px;
  position: relative;
  top: 18px;
  margin: auto;
}

.form-button:hover {
  background: #ffbe90;
  color: #3b2b2b;
}

.footer-container {
  width: 412px;
  height: 72px;
  border-top: 1px solid #979493;
}

.footer-icon-list {
  width: 300px;
  margin: 18px auto;
}

.footer-icon-list ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.footer-icon {
  width: 34px;
  height: 16px;
  font-size: 25px;
  color: #505f79;
  margin-right: 13px;
}

.footer-icon:hover {
  color: #505f79;
}

.footer-vectorimg {
  width: 34px;
  height: 26px;
  cursor: pointer;
  font-size: 20px;
}

.footer-vectorimg:hover {
  filter:
    invert(35%) sepia(21%) saturate(653%) hue-rotate(179deg)
    brightness(93%) contrast(84%);
}

.border-line {
  border-top: 4px solid #1c1a19;
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin: auto;
}
