* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --primary-font-family: "Inter", sans-serif;
  --primary-color: #ff6b00;
  --color-secondary: #ec5242;
  --color-tertiary: #d3d3d3;
  --color-white: #fff;
  --color-grey: #585858;
  --color-light-grey: #ebf0ee;
}

.container {
  width: 100%;
  height: 291.5rem;
}

.active {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

.error {
  display: block;
  margin: auto;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  padding: 2px;
  color: red;
  visibility: visible;
}

.pop-up-container {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 81.6rem;
  max-height: 43.1rem;
  overflow: hidden;
  z-index: 1000;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.3);
  background: white;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.pop-up-active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.pop-up-header {
  padding: 0.3rem 1.8rem;
  width: 100%;
  margin-top: 0.8rem;
}

.pop-up-heading {
  display: flex;
  justify-content: space-between;
}

.pop-up-heading h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 4.4rem;
  color: #172b4d;
}

.close-btn {
  background: none;
  border: none;
  color: #67798e;
  font-size: 2.5rem;
  cursor: pointer;
}

.pop-up-buttons {
  padding: 0.7rem 0;
  margin-top: 0.8rem;
}

.pop-up-lang-btn {
  padding: 0.4rem 0.3rem;
  margin: 0.1rem 0.2rem;
  border: 0.1rem solid #979493;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1rem;
  color: #3c3a39;
}

.pop-up-body {
  display: flex;
  flex-direction: row;
  padding: 0 1.8rem;
  padding-bottom: 3.4rem;
  margin-top: 4rem;
  width: 100%;
}

.pop-up-image img {
  width: 45rem;
  height: 26.8rem;
}

.pop-up-details {
  padding: 0 0.2rem 0 1.7rem;
  max-height: 38.8rem;
}

.pop-up-details p {
  font-family: 'Inter', sans-serif;
  padding-right: 2.4rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.9rem;
  color: #344563;
}

.pop-up-details-btn {
  background: #f55800;
  padding: 0.3rem 1rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 2.4rem;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  outline: none;
  position: relative;
  top: 6.4rem;
  cursor: pointer;
}

.icon-see-live-img {
  width: 0.9rem;
  height: 0.9rem;
}

.pop-up-details-btn i {
  color: white;
}

.header-section {
  /* position: sticky; */
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #3c3a39;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-navbar a,
.left-navbar i {
  text-decoration: none;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  margin: 1.5rem;
  margin-left: 6rem;
}

.left-navbar a {
  transition: all 1s ease-in-out;
}

.right-navbar ul li a {
  text-decoration: none;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 100;
  font-size: 1.5rem;
  color: #fff;
}

.right-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-navbar ul {
  display: flex;
  list-style: none;
}

.right-navbar ul li {
  padding: 1rem 1.2rem;
}

.right-navbar ul li a i {
  font-size: 2rem;
}

.headline-section {
  display: flex;
  position: absolute;
  top: 4.1rem;
  width: 100%;
  height: 65rem;
  background: #1c1a19;
  overflow: hidden;
}

.headline-container {
  display: flex;
  width: fit-content;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  height: 48rem;
  margin: 3rem 0;
}

.heads-container {
  margin-left: 5rem;
}

.heading-1 {
  width: 44.6rem;
  height: 13rem;
}

.heading-1 h1 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 7.2rem;
  color: var(--primary-color);
  line-height: 6.4rem;
}

.heading-2 {
  width: 44.6rem;
  height: 2.7rem;
  margin-top: 1.9rem;
  margin-bottom: 1.9rem;
}

.heading-2 h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  color: white;
  line-height: 3.2rem;
}

.paragraph {
  width: 44.6rem;
  height: 12.3rem;
}

.paragraph p {
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #e1c9c9;
}

.social-icons-container {
  display: flex;
  flex-direction: column;
  width: 6rem;
  height: 17rem;
  margin: 0 0;
  margin-left: 1.2rem;
  margin-bottom: 5rem;
  padding: 0.7rem;
}

.social-icons-container ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.social-icons-container ul li {
  margin: 1rem 1rem;
}

.vectorimg {
  display: flex;
  width: 2rem;
  height: 1.6rem;
  cursor: pointer;
  font-size: 2rem;
}

.vectorimg:hover {
  filter:
    invert(24%) sepia(88%) saturate(3738%) hue-rotate(263deg)
    brightness(88%) contrast(102%);
}

.social-icons {
  width: 3.4rem;
  height: 1.6rem;
  color: #dbd8d7;
  cursor: pointer;
  font-size: 2rem;
}

.social-icons:hover {
  color: #8a2be2;
}

.illustration-header img {
  position: absolute;
  z-index: 99;
  top: -17rem;
  left: 74rem;
  width: 107rem;
}

.work-section {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80rem;
  width: 90%;
  margin: auto 6rem;
  height: 150.5rem;
  z-index: -3;
}

.my-recentwork-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
}

.box-1 {
  width: max-content;
  height: 0.1rem;
  margin-right: 3rem;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.8rem;
  display: flex;
  align-items: center;
  color: #091e42;
}

.box-1-line {
  width: 69.4rem;
  height: 0;
  margin-right: 1rem;
  margin-top: 0.1rem;
  border: 0.1rem solid #212121;
}

.multipost-boxes-container {
  display: flex;
  grid-template-columns: repeat(2, auto);
  gap: 3.2rem;
  margin-top: 12rem;
  justify-content: center;
  margin-right: 15rem;
  margin-bottom: 2rem;
}

.boxes-1 img {
  width: 68.4rem;
  height: 44.8rem;
}

.boxes-2 {
  display: flex;
  flex-direction: column;
  width: 36.7rem;
  height: 33.7rem;
}

.multi-post-heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  display: flex;
  line-height: 4.4rem;
  align-items: center;
  color: #091e42;
}

.multi-post-para {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #091e42;
  margin: 1.6rem auto;
}

.multi-post-button-container {
  display: flex;
  flex-wrap: wrap;
}

.button-1 {
  padding: 1rem 1.2rem;
  border: 0.1rem solid #8993a4;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  background: #fff;
  color: #091e42;
  margin-right: 1.2rem;
}

.button-1:hover {
  background: #8993a4;
  color: whitesmoke;
}

.button-2 {
  padding: 1.2rem;
  background: var(--primary-color);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.03em;
  color: #fff;
  margin-top: 1.1rem;
  outline: none;
  border: 0.1rem solid var(--primary-color);
}

.button-2:hover {
  background: #fff5e1;
  color: #212121;
}

.remaining-boxes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.2rem;
  row-gap: 4rem;
  margin-top: 8rem;
}

.boxes-3 {
  display: flex;
  flex-direction: column;
  width: 32.7rem;
    height: 44.6rem;
  margin: 0.2rem auto;
}

.boxes-3::before {
  content: '';
  display: flex;
  flex-direction: column;
  width: 32.7rem;
    height: 38.6rem;
  margin: 0.2rem auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/reactbookscreenshot.png) no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 3.3;
  z-index: -1;
}

.boxes-4{
  display: flex;
  flex-direction: column;
  width: 32.7rem;
  height: 41.6rem;
  margin: 0.2rem auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/reactspaceprojectscreenshot.png) no-repeat;

}

.boxes-7 {
  display: flex;
  flex-direction: column;
  width: 32.7rem;
  height: 41.6rem;
  margin: 0.2rem auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/todoscreenshot.png) no-repeat;
}



.boxes-5{
  display: flex;
  flex-direction: column;
  width: 32.7rem;
  height: 41.6rem;
  margin: 0.2rem auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/javascriptproject.png) no-repeat;
}
.boxes-8 {
  display: flex;
  flex-direction: column;
  width: 32.7rem;
  height: 42.6rem;
  margin: 0.2rem auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/webdevelopmentprojectscreenshot.png) no-repeat;
}

.boxes-6 {
  display: flex;
  flex-direction: column;
  width: 32.7rem;
  height: 42.6rem;
  margin: 0.2rem auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/calculatorscreenshot.png) no-repeat;
}

.text-box {
  margin-top: 14rem;
  width: 100%;
  height: 24.8rem;
}

.text-box-heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: #fff;
  margin: auto 0.7rem;
}

.text-box-paragraph {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fff;
  margin: 0.4rem 0.7rem;
}

.text-box-buttons {
  margin: auto 0.7rem;
  width: 100%;
  margin-bottom: 0.4rem;
}

.button-3 {
  padding: 1rem 1.2rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
  margin-right: 1.2rem;
  background: rgba(255, 255, 255, 0.24);
  cursor: pointer;
}

.button-3:hover {
  background: #fff;
  color: #091e42;
}

.button-4 {
  position: relative;
  height: 4.8rem;
  width: 100%;
  bottom: 0;
  background: var(--primary-color);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.03em;
  color: #fff;
  outline: none;
  border: 0.1rem solid var(--primary-color);
}

.button-4:hover {
  background: #fff5e1;
  color: #212121;
}

.about-me {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 231rem;
  width: 100%;
  margin: auto 0;
  height: 99.5rem;
  background: #262626;
  overflow: hidden;
}

.about-me-container {
  display: flex;
}

.about-me-container-box1 {
  display: flex;
  position: relative;
  top: 4rem;
  flex-direction: column;
  width: 42.7rem;
  height: 38.6rem;
  margin: 2rem 8rem;
  margin-left: 16rem;
}

.about-me-heading h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 7.2rem;
  line-height: 8.8rem;
  letter-spacing: 0.037rem;
  color: var(--primary-color);
}

.about-me-paragraph p {
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 2rem;
  margin: 0.9rem auto;
  line-height: 2.4rem;
  color: #f4f5f7;
}

.about-me-container-box2 {
  position: relative;
  top: 4rem;
  left: 9rem;
}

.about-me-container-box2 img {
  width: 58.6rem;
  height: 35.2rem;
}

#downloadResume {
    animation: bounce 0.5s ease infinite alternate; 
    box-shadow: 0px 4px 8px rgba(248, 202, 14, 0.2);
}
  
@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px); 
    }
}

.language-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14rem;
  border-top: 0.1rem solid #fff;
  width: 105.7rem;
  height: 118.6rem;
  margin: auto;
}

.language-heading {
  display: flex;
  position: relative;
  top: -4rem;
  flex-direction: column;
  width: 22.546rem;
  height: 28.146rem;
}

.language-heading ul {
  list-style: none;
  width: 100%;
}

.language-heading ul li {
  display: flex;
  align-items: center;
  font-family: "Meera Inimai", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
}

.language-heading ul li a {
  color: #fff;
  text-decoration: none;
}

.language-heading ul li::before {
  content: "\25C6";
  font-size: 5rem;
  margin-right: 1.7rem;
  color: var(--primary-color);
}

.language-list-items {
  display: flex;
  flex-direction: column;
  width: 18.6rem;
  height: 21.6rem;
  margin: auto;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.language-list-items ul li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.2rem;
  width: max-content;
  margin: 0.5rem 0;
  margin-left: 1.9rem;
  align-self: center;
  line-height: 4.3rem;
  color: #fff;
}

.language-list-items ul li::before {
  content: "";
}

.framework-heading {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -1.3rem;
  width: 28.1rem;
  height: 33.6rem;
}

.framework-heading ul {
  list-style: none;
  display: flex;
  width: max-content;
  flex-direction: column;
}

.framework-heading ul li {
  display: flex;
  align-items: center;
  font-family: "Meera Inimai", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
}

.framework-heading ul li a {
  color: #fff;
  text-decoration: none;
}

.framework-heading ul li::before {
  content: "\25A0";
  font-size: 5rem;
  position: relative;
  bottom: 0.6rem;
  margin-right: 3.5rem;
  color: var(--primary-color);
}

.framework-list-items {
  display: flex;
  flex-direction: column;
  width: 15.9rem;
  height: 21.6rem;
  margin: auto;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.framework-list-items ul li {
  display: flex;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.2rem;
  margin: 0.5rem 0;
  margin-right: 4rem;
  align-items: flex-start;
  line-height: 4.3rem;
  color: #fff;
}

.framework-list-items ul li::before {
  content: "";
}

.skills-heading {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -2.9rem;
  width: 16.9rem;
  height: 33.6rem;
}

.skills-heading ul {
  list-style: none;
  width: 14rem;
  margin: auto;
}

.skills-heading ul li {
  display: flex;
  align-items: center;
  font-family: "Meera Inimai", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
}

.skills-heading ul li a {
  color: #fff;
  text-decoration: none;
}

.skills-heading ul li::before {
  content: "\25CF";
  font-size: 5rem;
  position: relative;
  bottom: 0.5rem;
  margin-right: 1.7rem;
  color: var(--primary-color);
}

.skill-list-items {
  display: flex;
  flex-direction: column;
  width: 18.6rem;
  height: 21.6rem;
  margin: auto;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.skill-list-items ul li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.2rem;
  width: max-content;
  margin: 0.9rem 0;
  margin-left: 2rem;
  align-self: center;
  line-height: 4.3rem;
  color: #fff;
}

.skill-list-items ul li::before {
  content: "";
}

.contact-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 330rem;
  width: 105.7rem;
  height: 55rem;
  margin: auto 15rem;
}

.contact-heading {
  width: 32.7rem;
  height: 21.6rem;
  margin: auto;
}

.contact-heading h3 {
  position: relative;
  top: -4.7rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
  margin: 0.3rem auto;
  text-align: center;
  color: #172b4d;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 32.7rem;
  height: 33rem;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  width: 100%;
  height: 4.8rem;
  padding: 0.3rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #979493;
  border: none;
  border-bottom: 0.1rem solid #979493;
  padding-left: 0.8rem;
  margin: 0.8rem 0;
}

#textarea {
  width: 100%;
  height: 11.4rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #3c3a39;
  border: none;
  padding: 0.8rem;
  background: #fbf8f7;
  margin: 0.8rem 0;
}

.form-button {
  display: block;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  color: #fff;
  padding: 1.2rem;
  border: 0.1rem solid var(--primary-color);
  background: var(--primary-color);
  width: 13.1rem;
  height: 4.8rem;
  position: relative;
  top: 1.8rem;
  margin: auto;
}

.form-button:hover {
  background: #fff5e1;
  color: #3b2b2b;
}

.footer-container {
  position: absolute;
  top: 385rem;
  width: 100%;
  height: 7.2rem;
}

.footer-icon-list {
  width: 30rem;
  margin: 1.8rem auto;
}

.footer-icon-list ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.footer-icon {
  width: 3.4rem;
  height: 1.6rem;
  font-size: 2.5rem;
  color: #505f79;
  margin-right: 1.3rem;
}

.footer-icon:hover {
  color: #347dfa;
}

.footer-vectorimg {
  width: 3.4rem;
  height: 2.6rem;
  cursor: pointer;
  font-size: 2rem;
}

.footer-vectorimg:hover {
  filter:
    invert(35%) sepia(21%) saturate(653%) hue-rotate(179deg)
    brightness(93%) contrast(84%);
}

.left-navbar a:hover {
  color: blueviolet;
  transform: rotate(360deg);
}

.right-navbar ul li a:hover {
  color: blueviolet;
}

@media screen and (min-width: 280px) {
  html {
    font-size: 37%;
  }

  .left-navbar a {
    font-size: 1.5rem;
  }

  .container {
    display: block;
    margin: 0 auto;
    width: 280px;
    height: max-content;
    overflow-y: scroll;
  }

  .pop-up-container {
    display: flex;
    flex-direction: column;
    width: 48rem;
    max-height: 65.1rem;
  }

  .pop-up-body {
    display: flex;
    flex-direction: column;
  }

  .pop-up-details p {
    font-family: 'Inter', sans-serif;
    padding-right: 2.4rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.9rem;
    color: #344563;
    margin-top: 1rem;
  }

  .pop-up-details-btn-container {
    display: flex;
    align-items: center;
  }

  .pop-up-details-btn {
    background: #f55800;
    padding: 0.3rem 1rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin-right: 1rem;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 2.4rem;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
    outline: none;
    position: relative;
    top: 2.4rem;
    cursor: pointer;
  }

  .right-navbar {
    display: none;
  }

  .change-rightnavbar ul li a {
    text-decoration: none;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 100;
    font-size: 3.2rem;
    color: #fff;
    transition: 0.5s ease-in-out;
  }

  .change-rightnavbar {
    width: 85%;
    display: block;
    margin-top: 4rem;
    margin-left: 3rem;
    height: 99vh;
    transition: 0.5s ease-in-out;
  }

  .change-rightnavbar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .change-rightnavbar ul li {
    padding: 1rem 1.2rem;
    border-bottom: 1px solid #6f6c6b;
  }

  .change-rightnavbar ul li:last-child {
    display: none;
    border: none;
  }

  .change-leftnavbar-logo {
    display: none;
  }

  #bar1 {
    transform: translateY(-2px);
  }

  .change-wrap #bar1 {
    transform: translateY(-1px) rotate(-45deg);
    background: #979493;
    font-weight: lighter;
  }

  .change-wrap #bar2 {
    display: none;
  }

  #bar3 {
    transform: translateY(2px);
  }

  .change-wrap #bar3 {
    transform: translateY(-4px) rotate(45deg);
    background: #979493;
    font-weight: lighter;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
  }

  .left-navbar {
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .wrap {
    width: 19px;
    height: auto;
    position: relative;
    top: 9%;
    right: 7%;
    cursor: pointer;
  }

  .change-wrap {
    top: 18px;
    left: 244px;
  }

  .menu {
    width: 100%;
    height: 3px;
    background: white;
    display: block;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
  }

  .header-section {
    width: 100%;
  }

  .headline-section {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }

  .headline-container {
    flex-direction: column;
    margin: auto 0;
    position: relative;
    right: 3rem;
  }

  .box-1 h1 {
    font-size: 4rem;
  }

  .social-icons-container {
    width: fit-content;
    margin: 0;
    position: relative;
    right: 7rem;
  }

  .social-icons-container ul {
    flex-direction: row;
  }

  .illustration-header img {
    display: flex;
    top: 22rem;
    width: 100%;
    left: 30rem;
  }

  .work-section {
    width: 41.2rem;
  }

  .box-1-line {
    width: 37.6rem;
    margin: auto -1rem;
    margin-top: 6rem;
  }

  .my-recentwork-container {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 41.2rem;
  }

  .box-1 {
    display: flex;
    width: 37.6rem;
    margin: auto -1.3rem;
    flex-direction: column-reverse;
  }

  .multipost-boxes-container {
    flex-direction: column;
    width: 41.2rem;
  }

  .boxes-1 img {
    width: 37.6rem;
    height: auto;
    margin: 0 -1.3rem;
    filter: brightness(90%);
  }

  .remaining-boxes-container {
    grid-template-columns: none;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 6rem;
    position: relative;
    right: 4rem;
    top: -9rem;
    width: 41.2rem;
  }

  .boxes-3,
  .boxes-4,
  .boxes-5,
  .boxes-6,
  .boxes-7,
  .boxes-8 {
    opacity: 1;
    background-size: cover;
  }

  .about-me {
    top: 464rem;
    width: 100%;
    height: 167rem;
  }

  .about-me-container {
    flex-direction: column;
  }

  .about-me-container-box1 {
    margin-left: 3rem;
  }

  .about-me-container-box2 {
    position: relative;
    top: 1rem;
    left: 0;
  }

  .about-me-container-box2 img {
    width: 92%;
    height: 91%;
    left: 29rem;
    top: -13rem;
    position: relative;
  }

  .about-me-paragraph {
    width: 34.6rem;
  }

  .language-container {
    flex-direction: column;
    width: 41.2rem;
    gap: 0;
    position: relative;
    top: -8rem;
  }

  .language-heading {
    top: 5rem;
  }

  .framework-heading {
    top: 4.7rem;
  }

  .skills-heading {
    top: 5.1rem;
    left: -3rem;
  }

  .contact-section {
    flex-direction: column;
    position: absolute;
    top: 639rem;
    width: 41.2rem;
    margin: 0 2rem;
    height: max-content;
  }

  .footer-container {
    top: 699rem;
  }

  .border-line {
    border-top: 0.4rem solid #1c1a19;
    width: 13.4rem;
    height: 0.5rem;
    background: #0d151e;
    border-radius: 1rem;
    margin: auto;
  }
}

@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }

  .change-wrap {
    left: 318px;
  }

  .work-section {
    left: 5rem;
  }

  .about-me {
    height: 181rem;
  }

  .contact-section {
    top: 657rem;
    left: 7rem;
  }

  .footer-container {
    top: 715rem;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }

  html {
    font-size: 45%;
  }

  .change-wrap {
    left: 336px;
  }

  .contact-section {
    left: 2rem;
  }

  .work-section {
    left: 3rem;
  }
}

@media screen and (min-width: 390px) {
  .container {
    width: 390px;
  }

  .change-wrap {
    left: 347px;
  }
}

@media screen and (min-width: 393px) {
  .container {
    width: 393px;
  }
}

@media screen and (min-width: 412px) {
  .container {
    width: 412px;
  }

  html {
    font-size: 48%;
  }

  .change-wrap {
    left: 365px;
  }
}

@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }

  .change-wrap {
    left: 365px;
  }
}

@media screen and (min-width: 540px) {
  .container {
    width: 540px;
  }

  html {
    font-size: 60%;
  }

  .change-wrap {
    left: 483px;
  }

  .contact-section {
    left: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    overflow-x: hidden;
    height: auto;
  }

  html {
    font-size: 48%;
  }

  .pop-up-container {
    display: flex;
    flex-direction: column;
    width: 81.6rem;
    max-height: 43.1rem;
  }

  .pop-up-body {
    display: flex;
    flex-direction: row;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
  }

  .left-navbar {
    width: 50%;
    align-items: center;
    justify-content: space-between;
  }

  .right-navbar {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .wrap {
    display: none;
  }

  .menu {
    width: 2rem;
    height: 0.3rem;
    background: white;
    margin: 0.3rem 0;
  }

  .header-section {
    width: 100%;
  }

  .headline-section {
    flex-direction: row;
    width: 100%;
    overflow: hidden;
  }

  .headline-container {
    flex-direction: row-reverse;
    margin: auto 0;
    position: relative;
    right: 3rem;
    top: -4rem;
  }

  .box-1 h1 {
    font-size: 4rem;
  }

  .social-icons-container {
    width: fit-content;
    margin: 0;
    position: relative;
    right: 7rem;
    right: -5rem;
  }

  .social-icons-container ul {
    flex-direction: column;
  }

  .illustration-header img {
    display: flex;
    top: -7rem;
    width: 100%;
    left: 51rem;
  }

  .work-section {
    width: 100%;
    left: -6rem;
    top: 54rem;
  }

  .box-1-line {
    width: 53%;
    margin-top: 0;
    align-items: center;
    justify-content: center;
  }

  .my-recentwork-container {
    flex-direction: row;
    width: 100%;
    position: relative;
    top: 25rem;
  }

  .box-1 {
    display: flex;
    width: 37.6rem;
    margin: auto -1.3rem;
    flex-direction: row;
  }

  .multipost-boxes-container {
    flex-direction: row;
    width: 89.2rem;
    position: relative;
    top: 23rem;
  }

  .remaining-boxes-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    row-gap: 6rem;
    position: relative;
    right: -5rem;
    top: 25rem;
    width: 41.2rem;
  }

  .boxes-3,
  .boxes-4,
  .boxes-5,
  .boxes-6,
  .boxes-7,
  .boxes-8 {
    width: 27.5rem;
  }
  .boxes-3{
    height: 41.6rem;
  }

  .boxes-3::before{
    width: 27.5rem;
    height: 39.6rem;
  }

  .about-me {
    top: 240rem;
    height: 102rem;
  }

  .about-me-container {
    flex-direction: row;
    top: 2rem;
  }

  .about-me-container-box1 {
    margin-left: 8rem;
  }

  .about-me-paragraph {
    width: 38.6rem;
  }

  .about-me-container-box2 img {
    left: 4rem;
    top: 0;
  }

  .language-container {
    flex-direction: row;
    width: 83.2rem;
    top: 0;
  }

  .language-heading {
    top: -4rem;
  }

  .framework-heading {
    top: -1.3rem;
    left: 7rem;
  }

  .skills-heading {
    top: -2.9rem;
    left: 13rem;
  }

  .contact-section {
    flex-direction: row;
    top: 354rem;
    width: 86.2rem;
  }

  .footer-container {
    top: 402rem;
  }

  .border-line {
    display: none;
  }
}

@media screen and (min-width: 820px) {
  .container {
    width: 820px;
    overflow-x: hidden;
    height: auto;
  }

  html {
    font-size: 55%;
  }

  .work-section {
    left: -6rem;
  }

  .my-recentwork-container {
    justify-content: center;
  }
}

@media screen and (min-width: 912px) {
  .container {
    width: 912px;
    overflow-x: hidden;
    height: auto;
  }

  .remaining-boxes-container {
    right: -9rem;
  }

  .multipost-boxes-container {
    width: 103.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 100%;
    overflow-x: hidden;
    height: auto;
  }

  html {
    font-size: 62.5%;
  }

  .work-section {
    top: 30rem;
  }
  .my-recentwork-container {
    top: 43rem;
  }
  .multipost-boxes-container {
    top: 40rem;
  }
  .remaining-boxes-container {
    top: 36rem;
  }
  .about-me {
    top: 223rem;
  }

  .contact-section {
    top: 341rem;
  }

  .illustration-header img {
    top: -19rem;
    left: 47rem;
  }

  .footer-container {
    top: 398rem;
    border-top: 1px solid #dfe1e6;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 80%;
  }

  .illustration-header img {
    top: -19rem;
    left: 47rem;
  }

  .footer-container {
    top: 410rem;
  }
}
